@font-face {
  font-family: Lyrics;
  src: url("./fonts/Lyrics.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Interface;
  src: url("./fonts/Interface.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@import "tailwindcss";
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}

@theme {
  --font-lyrics: Lyrics, "sans-serif";
  --font-interface: Interface, "sans-serif";
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4e6b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb3152;
}
